{% extends "layout/base.html" %} {% block title %}🔒 Cambiar contraseña{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<section class="section">
  <div class="container">
    <div class="box is-max-desktop mx-auto">
      <h1 class="title is-4 has-text-centered mb-5">
        <i class="fas fa-key mr-2"></i> Cambiar contraseña
      </h1>

      <form>
        <!-- Contraseña actual -->
        <div class="field">
          <label class="label">Contraseña actual</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="••••••••" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <!-- Nueva contraseña -->
        <div class="field">
          <label class="label">Nueva contraseña</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="••••••••" />
            <span class="icon is-small is-left">
              <i class="fas fa-unlock-alt"></i>
            </span>
          </div>
        </div>

        <!-- Confirmar nueva contraseña -->
        <div class="field">
          <label class="label">Confirmar nueva contraseña</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="••••••••" />
            <span class="icon is-small is-left">
              <i class="fas fa-check-circle"></i>
            </span>
          </div>
        </div>

        <!-- Botones -->
        <div class="field mt-5">
          <div class="buttons is-centered">
            <button class="button is-success">
              <i class="fas fa-save mr-1"></i> Guardar nueva contraseña
            </button>
            <a href="#" class="button is-light">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
