{% extends "layout/base.html" %} {% block title %}🔒 Cambiar contraseña{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-4-widescreen">
        <form class="box" method="POST">
          {{ form.hidden_tag() }}
          <h1 class="title is-4 has-text-centered mb-5">
            <i class="fas fa-key mr-2"></i> Cambiar contraseña
          </h1>

          <div class="field">
            <label class="label">{{ form.current_password.label }}</label>
            <div class="control has-icons-left">
              {{ form.current_password(class="input", placeholder="••••••••",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ form.new_password.label }}</label>
            <div class="control has-icons-left">
              {{ form.new_password(class="input", placeholder="••••••••",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ form.password_confirm.label }}</label>
            <div class="control has-icons-left">
              {{ form.password_confirm(class="input", required=True,
              placeholder="Repite tu contraseña") }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field has-text-centered mt-5">
            <button class="button is-success mr-2">
              <i class="fas fa-save mr-1"></i> {{ form.submit.label }}
            </button>
            <a href="{{ url_for('public.products') }}" class="button is-light"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
