{% extends "layout/base.html" %} {% block title %}🔐 Iniciar sesión{% endblock
%} {% block head %} {{ super() }} {% endblock %} {% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form class="box" method="POST">
          {{ form.hidden_tag() }}

          <h1 class="title is-4 has-text-centered mb-5">
            <i class="fas fa-sign-in-alt mr-2"></i> Iniciar sesión
          </h1>

          <div class="field">
            <label class="label">{{ form.email.label }}</label>
            <div class="control has-icons-left">
              {{ form.email (class="input", placeholder="ejemplo@correo.com",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ form.password.label }}</label>
            <div class="control has-icons-left">
              {{ form.password (class="input", placeholder="••••••••",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <!-- TODO: Agregar después -->
          <!-- Recordarme -->
          <!-- <div class="field">
            <label class="checkbox">
              <input type="checkbox" /> Recordarme
            </label>
          </div> -->

          <div class="field">
            <button class="button is-primary is-fullwidth">
              <i class="fas fa-sign-in-alt mr-2"></i> {{ form.submit.label }}
            </button>
          </div>

          <p class="has-text-centered is-size-7">
            ¿No tienes cuenta?
            <a href="{{ url_for('auth.register') }}">Regístrate</a><br />
            <!-- TODO: Agregar después -->
            <!-- <a href="#">¿Olvidaste tu contraseña?</a> -->
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
