{% extends "layout/base.html" %} {% block title %}📝 Registrarse{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form class="box" method="POST">
          {{ form.hidden_tag() }}
          <h1 class="title is-4 has-text-centered mb-5">
            <i class="fas fa-user-plus mr-2"></i> Crear cuenta
          </h1>

          <div class="field">
            <label class="label">Nombre completo</label>
            <div class="control has-icons-left">
              {{ form.name (class="input", placeholder="Tu nombre",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Correo electrónico</label>
            <div class="control has-icons-left">
              {{ form.email (class="input", placeholder="ejemplo@correo.com",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Contraseña</label>
            <div class="control has-icons-left">
              {{ form.password (class="input", placeholder="••••••••",
              required=True) }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Confirmar contraseña</label>
            <div class="control has-icons-left">
              {{ form.password_confirm (class="input", required=True,
              placeholder="Repite tu contraseña") }}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <button class="button is-success is-fullwidth">
              <i class="fas fa-user-plus mr-2"></i> Registrarse
            </button>
          </div>

          <p class="has-text-centered is-size-7">
            ¿Ya tienes una cuenta?
            <a href="{{ url_for('auth.login') }}">Inicia sesión</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
