{% extends "layout/base.html" %} {% block title %}📦 Productos{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}

<section class="section">
  <div class="container">
    <h1 class="title is-3 has-weight-bold">Productos</h1>

    {% if products|length == 0 %}
    <div class="notification is-warning is-light has-text-weight-semibold">
      <span class="icon"><i class="fas fa-exclamation-triangle mr-1"></i></span>
      Actualmente no hay productos disponibles. ¡Vuelve pronto para descubrir
      nuevos productos!
    </div>
    {% endif %}

    <div class="columns is-multiline">
      {% for product in products %}
      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        <div class="card">
          <div class="card-image" style="position: relative">
            <figure class="image is-4by3">
              <img
                src="{{ product.image_url }}"
                alt="{{ product.description }}"
              />
            </figure>

            <div class="floating-tag">
              {% if product.created_at > last_week %}
              <span class="tag is-warning is-light has-text-weight-semibold">
                <i class="fas fa-star mr-1"></i> Nuevo
              </span>
              {% endif %} {% if product.stock == 0 %}
              <span class="tag is-danger is-light has-text-weight-semibold">
                <i class="fas fa-times-circle mr-1"></i> Stock
              </span>
              {% else %}
              <span class="tag is-success is-light has-text-weight-semibold">
                <i class="fas fa-check-circle mr-1"></i> Agotado
              </span>
              {% endif %}
            </div>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">{{ product.name }}</p>
                <p class="subtitle is-6 has-text-weight-semibold mt-2">
                  {{ product.price }} Bs.
                </p>
              </div>
            </div>
          </div>

          <footer class="card-footer">
            <a
              href="{{ url_for('public.product', product_slug=product.slug) }}"
              class="card-footer-item has-text-light"
            >
              <span class="icon"><i class="fas fa-info-circle"></i></span>
              <span>Ver detalles</span>
            </a>

            {% if product.stock > 0 %}
            <form
              action="{{ url_for('cart.add_product_to_cart') }}"
              method="POST"
              class="card-footer-item"
            >
              <input
                type="hidden"
                name="product_id"
                value="{{ product._id }}"
              />
              <button class="has-text-primary">
                <span class="icon"><i class="fas fa-cart-plus"></i></span>
                <span>Agregar</span>
              </button>
            </form>
            {% else %}
            <p class="card-footer-item has-text-danger">
              <i class="fas fa-times-circle mr-1"></i> Producto agotado
            </p>
            {% endif %}
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
